[Desktop Entry]
Name=Aptik
MimeType=
Exec=aptik-launcher
Type=Application
GenericName=System Migration Utility
Terminal=false
Icon=aptik
Caption=System Migration Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_IN]=Aptik
